.card-flex{
    display: flex;
    justify-content: space-between;
}

.card-update-text{
    display: flex;
    justify-content: space-between;
}

.app-container{
    margin-left: 18%;
    margin-top: 20px;
    margin-right: 15px;
}

.card-center{
    display: flex;
    justify-content: center;
}

.payment-content{
    display: flex;
    /* flex-direction: row; */
}

