.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.byecoincontent{
  height: 5px !important;
}

.pay-method{
  display: flex;
  justify-content: space-between;
}

.add-btn{
  cursor: pointer;
  margin-top: 30px;
  color: #ffffff;
  width: 185px;
  height: 40px;
  align-items: center;
  padding: 0px 32px;
  gap: 12px;
  background: #186A7E;
  border-radius: 8px;
}

.bill-info{
  display: flex;
  justify-content: space-around;
}