.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.byecoincontent{
  height: 5px !important;
}

.pay-method{
  display: flex;
  justify-content: space-between;
}

.add-btn{
  cursor: pointer;
  margin-top: 30px;
  color: #ffffff;
  width: 185px;
  height: 40px;
  align-items: center;
  padding: 0px 32px;
  gap: 12px;
  background: #186A7E;
  border-radius: 8px;
}

.bill-info{
  display: flex;
  justify-content: space-around;
}


.view-btn{
  color:#007D50 ;
  background-color: #d1f8e1 ;
  width: 128px;
  height: 33px;
  border-radius: 15px;
}

.del-btn{
  color: #D70000;
  background-color: #f8d6d6;
  border-radius: 15px;
  width: 89px;
  height: 33px;
}

.edit-btn{
  color: #474747;
  background-color: #cecccc;
  border-radius: 15px;
  width: 78px;
  height: 33px;
}

.del-btn:hover{
  color: #D70000 !important;
  background-color: #f8d6d6 !important;
}

.edit-btn:hover{
  color: #474747 !important;
  background-color: #cecccc !important;
}

.paid-btn{
  color: #ffffff;
  background-color: #1E7589;
  width: 121px;
  height: 40px;
  padding: 0px 17px 0px 16px;
  gap: 12px;
  border-radius: 8px;
}

.invoice-content
{
  font-size: 15px;
  color:#186A7E;
  margin-top: 27px;
  margin-right: 40px;
}

.paid-tag, .pending-tag{
  font-size:14px;
  font-weight: 600;
  width:80px;
  height:35px;
  display:flex;
  justify-content:center;
  padding: 5px;
  color: #3CAAC3;
  background: #e0f9f6;
  border-radius: 6px;
}
